@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;

}
.nav{
    display: flex;
    width:100vw;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    background-color:rgb(235, 187, 124);
    padding: 20px 20px;   
}

.nav ul{
    display: flex;
    justify-content: space-between;
    width: 40%;
   
}
.nav ul li {
    list-style: none;   
}

.logo{
    display: flex;
    flex-flow: row;
    height: 80%;
    width: 40%;
    align-items: center;
    margin-left: -5%;
    
    
}
#img img{
    background-image: url(./dead_skull-removebg-preview.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
     width: 50px;  
}
.name{
   font-size: 1.2em;
   font-family: 'Montserrat', sans-serif;
}
.others{
    text-decoration: none;
    font-size: 100%;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 500px)
{
    .nav{
       flex-direction: column;
       height: 20vh;
       justify-content: center;
       text-align: center;
       align-items: center;
       padding: 10px 0px;
    }

    .logo{
        width: 80vw;
    }
    .nav ul{
        width: 80vw;
        padding: 10px;
    }
}
